<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96161898285-q9hkuj7srso3qnfbljcakdo0d2qdb0dl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96161898285-q9hkuj7srso3qnfbljcakdo0d2qdb0dl</string>
	<key>API_KEY</key>
	<string>AIzaSyDX8_cCR9IlH0JXDPerDH_LQ0Hl8aLn2Dc</string>
	<key>GCM_SENDER_ID</key>
	<string>96161898285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.merouanebellaha.FireChat</string>
	<key>PROJECT_ID</key>
	<string>firechat-55375</string>
	<key>STORAGE_BUCKET</key>
	<string>firechat-55375.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96161898285:ios:d2ef418cf4f9cdc36efda4</string>
	<key>DATABASE_URL</key>
	<string>https://firechat-55375.firebaseio.com</string>
</dict>
</plist>